body {
  background-image: url("background.jpg");
  background-color: teal;
}

nav {
  height: 100px;
}

.navbar-nav {
  margin-left: auto;
}

.container-fluid {
  padding-left: 50px;
}

.nav-link {
  font-size: large;
}

.container-1 {
  padding: 50px;
}

.container-2 {
  height: auto;
  padding: 30px;
}

.col-sm-7 {
  background-color: floralwhite;
}

/* Text color will not change to white */
.navbar-brand {
  background-color: rgb(172, 113, 228);
  font-family: "Amaranth", sans-serif;
  color: floralwhite;
}

h1 {
  color: rgb(172, 113, 228);
  font-family: "Amaranth", sans-serif;
  font-size: 40px;
}

h5 {
  color: rgb(97, 37, 218);
}

h6 {
  color: floralwhite;
}

p.text-1,
p.text-2 {
  font-size: large;
}

img {
  float: left;
  padding-right: 20px;
  margin: 5px;
}

footer {
  height: 50px;
  background-color: rgb(172, 113, 228);
  padding: 15px 5px 5px 30px;
}
