* {
  box-sizing: border-box;
}

body {
  background-image: url("background.jpg");
  background-color: rgb(73, 73, 196);
}

nav {
  height: 100px;
}

.navbar-nav {
  margin-left: auto;
}

.container-fluid {
  padding-left: 50px;
}

.nav-link {
  font-size: large;
}

.container-1 {
  padding: 50px;
}

.container-2 {
  height: auto;
  padding: 30px;
}

.content-portfolio {
  background-color: floralwhite;
}

.col-sm-7 {
  background-color: floralwhite;
}

.col-sm-10 {
  background-color: floralwhite;
}

/* Text color will not change to white */
.navbar-brand {
  background-color: rgb(172, 113, 228);
  font-family: "Amaranth", sans-serif;
  color: floralwhite;
}

h1 {
  color: rgb(172, 113, 228);
  font-family: "Amaranth", sans-serif;
  font-size: 40px;
}

h5 {
  color: rgb(97, 37, 218);
}

h6 {
  color: floralwhite;
  text-align: center;
}

p.text-1,
p.text-2 {
  font-size: large;
}

img {
  float: left;
  padding-right: 20px;
  margin: 5px;
}

footer {
  height: 50px;
  background-color: rgb(172, 113, 228);
  padding-top: 5px;
  border-top: rgb(73, 73, 196) solid 3px;
}

.card {
  float:left;
  margin:20px 10px 20px 50px;
}

.card-title {
  color:  rgb(73, 73, 196) solid 3px;
  font-weight: bold;
}



/* When the browser width is either 800px or less the background will be purple*/

@media screen and (max-width: 800px) {
  body {
    background-color: rgb(73, 73, 196);
  }